@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 60 33% 97%;
    --foreground: 203 53% 22%;

    --card: 60 33% 97%;
    --card-foreground: 203 53% 22%;

    --popover: 60 33% 97%;
    --popover-foreground: 203 53% 22%;

    --primary: 203 53% 22%;
    --primary-foreground: 60 33% 97%;

    --secondary: 162 29% 59%;
    --secondary-foreground: 203 53% 22%;

    --muted: 38 28% 87%;
    --muted-foreground: 203 53% 22%;

    --accent: 203 61% 80%;
    --accent-foreground: 203 53% 22%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 33% 97%;

    --border: 38 28% 87%;
    --input: 38 28% 87%;
    --ring: 203 53% 22%;

    --radius: 0.75rem;

    --sidebar-background: 60 33% 97%;
    --sidebar-foreground: 203 53% 22%;
    --sidebar-primary: 203 53% 22%;
    --sidebar-primary-foreground: 60 33% 97%;
    --sidebar-accent: 203 61% 80%;
    --sidebar-accent-foreground: 203 53% 22%;
    --sidebar-border: 38 28% 87%;
    --sidebar-ring: 203 61% 80%;
  }

  .dark {
    --background: 203 53% 22%;
    --foreground: 60 33% 97%;

    --card: 203 53% 22%;
    --card-foreground: 60 33% 97%;

    --popover: 203 53% 22%;
    --popover-foreground: 60 33% 97%;

    --primary: 60 33% 97%;
    --primary-foreground: 203 53% 22%;

    --secondary: 162 29% 59%;
    --secondary-foreground: 203 53% 22%;

    --muted: 203 53% 30%;
    --muted-foreground: 38 28% 87%;

    --accent: 203 61% 80%;
    --accent-foreground: 203 53% 22%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 33% 97%;

    --border: 203 53% 30%;
    --input: 203 53% 30%;
    --ring: 203 61% 80%;
    
    --sidebar-background: 203 53% 22%;
    --sidebar-foreground: 60 33% 97%;
    --sidebar-primary: 203 61% 80%;
    --sidebar-primary-foreground: 203 53% 22%;
    --sidebar-accent: 203 53% 30%;
    --sidebar-accent-foreground: 60 33% 97%;
    --sidebar-border: 203 53% 30%;
    --sidebar-ring: 203 61% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
